*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #88a8c9;
}
.container{
    width: 400px;
    height: 600px;
    background-color: #2e293d;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    margin-left: 600px;
    border-radius: 30px;

}
.calculater{
background-color: #3a4452;  
padding: 20px;
border-radius: 10px;
}
.calculater form input{
    border: 0;
    outline: none;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgb(255, 255, 255,0.06),
    5px 5px 15px rgb(0, 0, 0,0.1);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    color: #2e293d;
    background-color: rgb(59, 88, 59);
    padding: 10px;
}
.calculater form .equal{
    width: 145px;
}
